<!-- templates/remove_password.html -->
{% extends "base.html" %}

{% block title %}Remove PDF Password - SAFAR EDGE{% endblock %}

{% block content %}
    <h1>Remove PDF Password</h1>
    <form action="{% url 'remove_password' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label>Select PDF with Password:</label>
        <input type="file" name="pdf" required>
        <label>Password:</label>
        <input type="text" name="password" required>
        <button type="submit">Remove Password</button>
    </form>
{% endblock %}